
/*  background-color: #12a2af;*/

#app-container { 
  place-items: center center;
}

#search-form {
  max-width: 800px;
  place-items: center center;
}

.navbar {
   background-color: #12a2af; 
   border-bottom: 3px solid #525459;
}

.navbar-brand{
  color: #f5f5f5;
}

.btn-custom{
  background-color: #12a2af !important;
  color: #f5f5f5;
}

.icon-custom{
  color: #12a2af !important;
  
}

#table-container
{
  border: 2px solid #12a2af;
  background-color: #ffffff;
}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100% !important;
  }
}